[Unit]
Description=Hackboard Dashboard
After=network.target

[Service]
Type=simple
User=<USERID>
Group=<USERID>
WorkingDirectory=/PATH-TO-REPO-ROOT-DIR
EnvironmentFile=/etc/hackboard/hackboard.env
ExecStart=/PATH-TO-REPO-ROOT-DIR/.venv/hackboard/bin/python run.py
Restart=on-failure
RestartSec=5s
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
